.bg-section{
    background-image: url('../../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.profileButton{ 
    background-image: url('../../images/ground-button.png');
    background-repeat: no-repeat;
    height: 65px;
    background-size: cover;
    background-size: 100%;
    background-color: #FFFFFF;
    width: 255px;
    }