.background-sale{
    background-image: url('../../images/groundSale.png');
    background-repeat: no-repeat;
   border-radius: 25px;
    background-size: cover;
height: 170px;

    /* background-color: rgb(237, 234, 234); */
    
} 
  @media (max-width: 768px) {
    .sale-img {
    width: 45%;
    margin-top: 2px !important;
    }
  }
  @media (max-width: 992px) {
    .sale-text{
   font-size: 40px !important;
   position: relative !important;
   margin-right: 100px;
   padding-top: 5px !important;
   /* margin-top: 85px !important; */
    }
  }
  @media (max-width: 992px) {
    .cards-sale {
    margin-top: -25px !important;
    }
  }

  /* @media (max-width: 992px) { 
    .sale-text{
        color: black !important;
    }
   } */

